@import "tailwindcss";

.carrousel {
  --sb-size: 4px;
  --sb-track-color: #bdbdbd00;
  --sb-thumb-color: gradient(to right, #ff0000, #00ff00);
  animation: fadeIn-slideUp 3s normal;
}

.carrousel::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.carrousel::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

.carrousel::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  .carrousel {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}


.tituloNosso{
  animation: fadeIn-slideUp 3s normal;
}

@keyframes fadeIn-slideUp {
  from {
     opacity: 0;
     transform: translateY(10px);
   }
  to { opacity: 1; transform: translateY(0); }
}


@keyframes fadeInEsquerda {
  0% {
    opacity: 0;
    transform: translateX(-20px); /* Começa 20px para a esquerda */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina na posição original */
  }
}


.Description_of_the_product{
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  visibility: visible;
}

.Description_Section{
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(3, 3, 3, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  text-align: center;
  color: #ffffff ;
  transform: translatey(200%);
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  transition-delay: 1s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  gap: 8px;
}


.Description_of_the_product.is-focused .Description_Section{
  transform: translateX(0);
}